body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.fr-hint-text ul {
  padding: 0;
  list-style: none;
}

#length-criteria,
#number-criteria,
#capital-criteria,
#character-criteria {
  display: none;
}

.fr-text-underline {
  text-decoration: underline;
  cursor: pointer;
}

.pre-register {
  display: block;
}

.register-form {
  display: none;
}
